only-built-dependencies[]=esbuild
only-built-dependencies[]=@rollup/rollup-win32-x64-msvc
only-built-dependencies[]=@tailwindcss/oxide-win32-x64-msvc
only-built-dependencies[]=lightningcss-win32-x64-msvc
only-built-dependencies[]=@swc/core
only-built-dependencies[]=sharp
