ignore-scripts=false
auto-install-peers=true
strict-peer-dependencies=false
only-built-dependencies[]=esbuild
only-built-dependencies[]=@rollup/rollup-linux-x64-gnu
only-built-dependencies[]=@tailwindcss/oxide-linux-x64-gnu
only-built-dependencies[]=lightningcss-linux-x64-gnu
only-built-dependencies[]=@swc/core
only-built-dependencies[]=sharp
